@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* 
{
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(255, 255, 255);
}

#header {
    border-bottom: #f05a29 3px solid;
    height:120px
}

body {
    font-family: Lato, sans-serif;
    font-weight: lighter;
    color: #102F63;
}

h1, h2 {
    color: #1c74bc;
    text-decoration: underline #f05a29 2.5px;
}


#logo {
    float: left;
    height: 100px;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-transform: uppercase;
    line-height: 120px;
    letter-spacing: 2px;
    font-size: 200%;
    margin-left: 30px;
    color: #1c74bc;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


#menu a:hover {
    border-bottom: 1.5px #f05a29 solid;
}

.active {
        border-bottom: #f05a29 1.5px solid;
}



.main-landing {
    background-image: url(../images/pic6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100vw;
    height: 80vh;
    overflow: hidden;
    border-bottom: #f05a29 3px solid;
    

}

#hero-pic {

    width: auto;
    zoom: 44%;
    position: relative;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


#cover-text {
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5) ;
    text-decoration: none;
    font-size: 3.5vw;
    line-height: 80vh;
    position: absolute;
    width: 100vw;
    text-align: center;

}


.who-section {
    margin-bottom: 20px;
    margin-top: 20px;
}

#who-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: yellow;
}

#who-we-are {
    font-size: 2.5vw;
    font-family: Lato, sans-serif;
    float: left;
    width: 45vw;
    text-align: center;

}

#who-we-are p {
    font-size: 2vw;
    margin-left: 1%;
    margin-right: 1%;
    font-weight:150;


}


#pic2 {
    overflow: hidden;
    float: right;
    width: 45%;
    height: auto;
    object-fit: fill;
    margin-right: 20px;
    border: #f05a29 3px solid;
}

#what-do-we-do {
    margin-bottom: 30px;
}

#services {
    height: 600px;
}

#services-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#services-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#services-center {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #102F63;
    width: 100%;
    margin: 5px 0;
}


.services-left-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.services-right-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.services-right-heading p {
    text-align: right;
}


.services-left-heading h2 {
    text-align: left;
    text-decoration: none;
}

.services-right-heading h2 {
    text-align: right;
    text-decoration: none;
}

/* Club ethos center image */

#services-header {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/settings.png) no-repeat center center;
    background-size: 70%;
    height: 100%;
    border-radius: 50%;
}

.differences-container {
    border: 3px solid #102F63;
    border-radius: 2vw;

}

.differences-containers {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f05a29;
    overflow: hidden;
    padding-top: .5vh;
    padding-bottom: .5vh;

}



#differences-amazon {
    font-size: 2.5vw;
    text-align: center;
    float: left;
    margin-right: 7vw;
    margin-left: 7vw;
    width: 35vw;
    overflow: hidden;
}

#differences-amazon p {
    font-size: 2.5vw;
}

#differences-sendy {
    font-size: 2.5vw;
    float: left;
    margin-right: 7vw;
    margin-left: 7vw;
    text-align: center;
    width: 35vw;
    border-radius: 2vw;
    overflow: hidden;
    
}

#differences-sendy p {
    font-size: 2.5vw;
}

.differences-header {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.differences-header p {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.differences-section {
    border-bottom: #f05a29 3px solid;
    border-top: #f05a29 3px solid;
    vertical-align: middle;
    clear: left;
}

#sendy-list {
list-style-type: none;
border-radius: 2vw;
overflow: hidden;


}

#amazon-list {
    list-style-type: none;
    border-radius: 2vw;
    overflow: hidden;
}

.our-brands-section {
    border-bottom: yellow 3px solid;
    border-top: yellow 3px solid;
    clear: both;
    display: flex;
    justify-content: space-between;
}

#our-brands-image {
    overflow: hidden;
    float: left;
    width: 45vw;
    margin-left: 2vw;
    margin-top: 2vh;
    object-fit: fill;
}


#our-brands-text {
float: right;
text-align: center;
width:45vw;
font-size: 2.5vw;
}

#our-brands-button {
    background-color :rgb(228, 240, 250);
    color:#102F63;
    border: #102F63 2px solid;
    text-decoration: none;
    padding: 3px;
    font-weight: bold;
}

#our-brands-button:hover {
    border: #f05a29 3px solid;
}

.contact-us-section {
    text-align: center;
    width: 100vw;
    float: left;
    font-size: 200%;
    display: inline;
    border-bottom: #f05a29 3px solid;
    border-top: #f05a29 3px solid;
    height: 150px;
    clear: left;
}

#contact-link-button {
    background-color :#f05a29;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

#contact-link-button:hover {
    border: #102F63 3px solid;
}


footer {
    display: inline;
    background-color: #f05a29;
    height: 150px;
}

#footer {
    background-color: #f05a29;
}

footer ul li a {
    color: #f05a29;
}

.social-networks {
    text-align: center;
    height: 150px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size:160%;
    margin: 1%;
    padding: 5%;
    color: #f05a29;;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

#brands-header {
    text-align: center;
    font-size: 300%;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.images {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.photo {
    width: 30%;
    text-align: center;
    height: 240px;
    border:  #102F63 1.5px solid;
    margin: 10px 10px 10px 10px;
}

.photo:hover {
    width: 30%;
    text-align: center;
    height: 240px;
    border: #f05a29 3px solid;
    margin: 8.5px 8.5px;
}

.photo img {
    max-width: 100%;
    height: 100%;
}

#contact-us-page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}


.contact-info {
    min-height: 600px;
    width: 40%;
    text-align:center;
    border: 1.5px #f05a29 solid;
}


#contact-form {
    border: none;
    margin-bottom: 5px;
}



iframe {
    width: 600px;
    height: 600px;
}

.gmap_canvas {
    width: auto;
    height: 600px;
    overflow:hidden;
}

#map-section {
    text-align:center;
    height:600px;
    width:600px;
    border: 1.5px #f05a29 solid;
    margin: 5px;
}

#map-section:hover {
    border: 3px #f05a29 solid;
    margin: 3.5px;

}


#contact-us-form {
    float: right;    
    height:600px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
    border: 1.5px solid #102F63;
    margin-top: 5px;
  }

  #form {
      margin-bottom: 10px;
  }


  /* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #what-do-we-do {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #services-header {
        padding: 30px 0;
        margin-top: 0;
    }

    #services-left, #services-right{
        width:100%;
        float:left;
        padding: 0;
    }

    #services-center{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    

    hr {
        display: none;
    }
}


/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
    #logo {
        margin-top: 10px;
        object-fit: contain;
    }

    .header div {
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
    }

    #menu li {
        letter-spacing: 0px;
        font-size: 120%;
        color: #1c74bc;
        margin-left: 0px
    }
    .who-section {
        margin-top: 2vh;
        background-color: yellow;
        height: auto;
    }
    
    #who-section {
        display: inline;
        justify-content: space-evenly;
        margin-top: none;
        margin-right:0px;
    }
    
    #who-we-are {
        font-size: 5vw;
        font-family: Lato, sans-serif;
        margin-left: 5vw;
        width: 90vw;
        text-align: center;
        vertical-align: middle;
        margin-right:0px;
    
    }
    
    #who-we-are p {
        font-size: 4vw;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 2vh;
        font-weight:150;
    
    
    }
    
    
    #pic2 {
        overflow: hidden;
        width: 90vw;
        float: left;
        margin-left: 5vw;
        height: auto;
        object-fit: fill;
        border: #f05a29 3px solid;
        margin-right:0px;
    }  

    #services {
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .services-right-heading, .services-left-heading{
        width: inherit;
    }

    .services-right-heading h2, .services-left-heading h2{
        width: 100%;
        text-align: center;
    }

    .services-right-heading p, .services-left-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

}





/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 550px){
    #logo {
        margin-top: 10px;
        object-fit: contain;
    }

    .header div {
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
    }

    #menu li {
        text-align: center;
        display: inline-block;
        justify-content: start;
        list-style-type: none;
        line-height: 30px;
        letter-spacing: 2px;
        width: 40vw;
        font-size: 50%;
        color: #1c74bc;
        margin-top: 10px;
    }
}
