@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* 
{
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(255, 255, 255);
}

#header {
    border-bottom: #f05a29 3px solid;
    height:140px
}

body {
    font-family: Lato, sans-serif;
    font-weight: lighter;
    color: #102F63;
}

h1, h2 {
    color: #1c74bc;
    text-decoration: underline #f05a29 2.5px;
}


#logo {
    float: left;
    height: 120px;
    width: auto;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 130px;
    letter-spacing: 2px;
    font-size: 200%;
    margin-left: 30px;
    color: #1c74bc;
}

#menu a {
    text-decoration: none;
    color: inherit;
}


#menu a:hover {
    border-bottom: 1.5px #f05a29 solid;
}

.active {
        border-bottom: #f05a29 1.5px solid;
}



.main-landing {
    background-image: url(../images/pic6.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:100vw;
    height: 750px;
    overflow: hidden;
    border-bottom: #f05a29 3px solid;
    

}

#hero-pic {

    width: auto;
    zoom: 44%;
    position: relative;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.11);
    }
}

#cover-text {
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2) ;
    text-decoration: none;
    font-size: 200%;
    line-height: 750px;
    position: absolute;
    width: 100vw;
    text-align: center;

}


.who-section {
    margin-bottom: 20px;
    margin-top: 20px;
}

#who-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#who-we-are {
    font-size: 200%;
    font-family: Lato, sans-serif;
    float: left;
    width: 45vw;
    height: 450px;
    text-align: center;
    vertical-align: middle;

}

#who-we-are p {
    font-size: 85%;
    margin-left: 25px;
    margin-right: 25px;
    font-weight:150;


}


#pic2 {
    overflow: hidden;
    float: right;
    height: 450px;
    width: 40%;
    object-fit: fill;
    margin-right: 20px;
    border: #f05a29 3px solid;
}

#what-do-we-do {
    margin-bottom: 30px;
}

#services {
    height: 600px;
}

#services-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#services-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #102F63;
    width: 100%;
    margin: 5px 0;
}


.services-left-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.services-right-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.services-right-heading p {
    text-align: right;
}


.services-left-heading h2 {
    text-align: left;
    text-decoration: none;
}

.services-right-heading h2 {
    text-align: right;
    text-decoration: none;
}

/* Club ethos center image */

#services-header {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: none;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/settings.png) no-repeat center center;
    background-size: 70%;
    height: 100%;
    border-radius: 50%;
}

.differences-amazon {
    font-size: 200%;
    float: left;
    text-align: center;
    width: 45vw;
    list-style-type: circle;
}

.differences-sendy {
    font-size: 200%;
    float: right;
    text-align: center;
    width: 45vw;
    list-style-type: circle;
    
}

.differences-header {
    text-align: center;
    font-size: 200%;
    margin-top: 25px;
}

.differences-header > p {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.differences-section {
    border-bottom: #f05a29 3px solid;
    border-top: #f05a29 3px solid;
    height: 450px;
    vertical-align: middle;
}

#sendy-list {
list-style-type: none;
}

#amazon-list {
    list-style-type: none;
}

.our-brands-section {
    height: 600px;
    border-bottom: yellow 3px solid;
    border-top: yellow 3px solid;
}

#our-brands-image {
    background: url('../images/kingsjerky.jpeg') no-repeat 0 0;
    height: 600px;
    float: left;
    width: 50vw;
    text-align: center;
}

#our-brands-text {
float: right;
text-align: center;
width:50vw;
font-size: 200%;
padding-top: 20vh;
}

#our-brands-button {
    background-color :rgb(228, 240, 250);
    color:#102F63;
    border: #102F63 2px solid;
    text-decoration: none;
    padding: 3px;
    font-weight: bold;
}

#our-brands-button:hover {
    border: #f05a29 3px solid;
}

.contact-us-section {
    text-align: center;
    width: 100vw;
    float: left;
    font-size: 200%;
    display: inline;
    border-bottom: #f05a29 3px solid;
    border-top: #f05a29 3px solid;
    height: 150px;
}

#contact-link-button {
    background-color :#f05a29;
    color:white;
    text-decoration: none;
    font-weight: bold;
}

#contact-link-button:hover {
    border: #102F63 3px solid;
}


footer {
    display: inline;
    background-color: #f05a29;
    height: 150px;
}

#footer {
    background-color: #f05a29;
}

.social-networks {
    text-align: center;
    height: 150px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size:160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

#brands-header {
    text-align: center;
    font-size: 300%;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.images {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.photo {
    width: 30%;
    text-align: center;
    height: 240px;
    border:  #102F63 1.5px solid;
    margin: 10px 10px 10px 10px;
}

.photo:hover {
    width: 30%;
    text-align: center;
    height: 240px;
    border: #f05a29 3px solid;
    margin: 8.5px 8.5px;
}

.photo img {
    max-width: 100%;
    height: 100%;
}

#contact-us-page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}


.contact-info {
    min-height: 600px;
    width: 40%;
    text-align:center;
    border: 1.5px #f05a29 solid;
}

#map-section {

}

#contact-form {
    border: none;
    margin-bottom: 5px;
}



iframe {
    width: 600px;
    height: 600px;
}

.gmap_canvas {
    width: auto;
    height: 600px;
    overflow:hidden;
}

#map-section {
    text-align:center;
    height:600px;
    width:600px;
    border: 1.5px #f05a29 solid;
    margin: 5px;
}

#map-section:hover {
    border: 3px #f05a29 solid;
    margin: 3.5px;

}


#contact-us-form {
    float: right;    
    height:600px;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;

  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
    border: 1.5px solid #102F63;
    margin-top: 5px;
  }

  #form {
      margin-bottom: 10px;
  }

